<!DOCTYPE html>

<html long="ko">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
</head>
<body>
 <h1>회원 가입</h1>
 <form method="post">
 <div style="display:flex; flex-direction:column; width:20%">
     <input name="id" placeholder="아디" required />
     <input type="password" name="passwd" placeholder="비번" required />
     <input name="ownerName" placeholder="오너이름" required />
     <input type="tel" name="ownerTel" placeholder="전화번호" required />
     <input type="tel" name="bno" placeholder="사업자 번호" required />
     <button>회원 가입 하기</button>
 </div>
 </form>
</body>

</html>